<!DOCTYPE html>
<html lang="en">
<%- include '_header' %>
<body>
  <%- include _error %>
  <form method="post" action="/users/create">
    <input type="text" name="name" placeholder="Enter a name"/>
    <br/>
    <input type="password" name="password">
    <br/>
    <input type="submit" value="Create"/>
  </form>
</body>
</html>