<!DOCTYPE html>
<html lang="en">
<%- include('_header') %>
<body>
  <%- include _nav %>
  <ul>
    <% songs.forEach(function(song) { %>
    <li><a href=/songs/<%= song.id %>><%= song.name %></a></li>
    <% }); %>
  </ul>
</body>
</html>
