<!DOCTYPE html>
<html lang="en">
<%- include('_header') %>
<body>
  <div id="song" data-id=<%= song.id %>>
    <%= song.name %>
  </div>
  Also listen to:
  <ul id="recommendations"></ul>
  <script src="/javascripts/recommendations.js"></script>
</body>
</html>